{% extends "layout.html" %}
{% block body %}
<h1>Captive Portal</h1>

<div>
  <form>
    <div class="mb-3">
      <label for="emailAddress" class="form-label">Emailová adresa</label>
      <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" required name="email"
        value="{{ data['email'] if data['email'] != None else '' }}">
      <div id="emailHelp" class="form-text">Emailová adresa bude sloužit pro identifikaci připojeného uživatele</div>
    </div>

    <div class="mb-3 form-check">
      {% if data['marketing'] %}
      <input type="checkbox" class="form-check-input" id="marketing-accept" name="marketing" checked>
      {% else %}
      <input type="checkbox" class="form-check-input" id="marketing-accept" name="marketing">
      {% endif %}
      <label class="form-check-label" for="marketing-accept">Souhlasím s použitím emailové adresy pro marketingové a
        informativní účely Městské části Praha 10</label>
    </div>

    <div class="d-flex w-100 justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary mb-4 p-3 px-4">Připojit se</button>
    </div>

    <div class="mb-3 text-muted text-center">
      <p>Kliknutím na tlačítko <span class="text-primary">Připojit se</span> souhlasíte s <a
          class="text-primary" data-bs-toggle="modal" data-bs-target="#tos-modal">podmínkami použítí</a> Wi-Fi
          sítě.</p>
    </div>

    <!-- Modal -->
    <div class="modal modal-xl fade" id="tos-modal" tabindex="-1" aria-labelledby="tos-modal-label"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="tos-modal-label">Podmínky použítí</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body m-0 p-0">
            <div class="m-0 p-0">
              <div class="mb-4 d-flex flex-column gap-0">
                <p class="text-center m-0">Městská část Praha 10</p>
                <p class="text-center m-0">Vinohradská 3218/169</p>
                <p class="text-center m-0">100 00 Praha 10</p>
                <p class="text-center">IČO: 00063941</p>
              </div>
              <div class="mb-4">
                <p class="text-center">VŠEOBECNÉ PODMÍNKY PRO POSKYTOVÁNÍ A UŽÍVANÍ BEZPLATNÉ VEŘEJNÉ WI-FI SÍTĚ</p>
                <p class="text-center">(dále jen <strong>„Podmínky“</strong>)</p>
                <p class="text-center">ze dne 18.06.2024</p>
              </div>
              <ol class="all-bold">
                <li>Vymezení pojmů
                  <ol>
                    <li>Pro účely těchto Podmínek se rozumí:
                      <ul>
                        <li><strong>„Bezdrátovou Wi-Fi sítí“</strong> bezdrátová veřejná Wi-Fi síť s názvem
                          MCP10-Free-WiFi;</li>
                        <li><strong>„Poskytovatelem“</strong> Úřad městské části Praha 10, se sídlem Vinohradská
                          3218/169, 100 00 Praha
                          10,
                          IČO:
                          000 63 941;</li>
                        <li><strong>„Prostorami“</strong> – prostory, ve kterých sídlí Poskytovatel; </li>
                        <li><strong>„Službou“</strong> bezplatný přístupu k internetu prostřednictvím Bezdrátové Wi-Fi
                          sítě;</li>
                        <li><strong>„Uživatelem“</strong> všechny fyzické osoby využívající Službu;</li>
                        <li><strong>„Zařízením“</strong> zařízení používané k připojení k Službě (tj. mobilní telefon,
                          tablet nebo
                          přenosný
                          počítač Uživatele, aj.). </li>
                      </ul>
                    </li>
                  </ol>
                </li>
                <li>Účel a závaznost Podmínek
                  <ol>
                    <li>Podmínky se vydávají za účelem stanovení pravidel pro poskytování a užívaní Služby v rámci
                      Prostor.
                    </li>
                    <li>Podmínky a pravidla v nich zahrnutá jsou závazná pro všechny Uživatele.</li>
                  </ol>
                </li>
                <li>Určení, dostupnost a bezplatnost Služby
                  <ol>
                    <li>Služba je primárně určená pro návštěvníky Poskytovatele.</li>
                    <li>Rozsah služby, použité technologie a podmínky poskytování Služby jsou plně v kompetenci
                      Poskytovatele.
                    </li>
                    <li>Bezdrátová Wi-Fi síť je majetkem Poskytovatele. </li>
                    <li>Přístup ke Službě je určen v Prostorách. </li>
                    <li>Uživatelé mohou Službu využívat bezplatně a po opětovném přijetí Podmínek podle čl. 4.8 bez
                      časového
                      omezení.</li>
                    <li>Na užívaní Služby neexistuje jakýkoliv právní nárok, Služba slouží pouze ke zpříjemnění čerpání
                      standardních služeb Poskytovatele, a tedy jako nadstandardní služba pro Uživatele.</li>
                  </ol>
                </li>

                <li>Připojení Uživatele
                  <ol>
                    <li>Zajištění kompatibility Zařízení a jeho programového vybavení, jakož i jejich vhodnosti a
                      funkčnosti
                      pro
                      účely užívaní Služby, jsou výhradně záležitostí Uživatele.</li>
                    <li>Poskytovatel v souvislosti s čl. 4.1 nezpřístupňuje žádný software, zařízení ani konfigurační
                      nastavení.
                    </li>
                    <li>Uživatel není oprávněn připojovat k Bezdrátové Wi-Fi síti bezdrátová síťová zařízení (tj. např.
                      Wi-Fi
                      přístupový bod, hotspot Uživatele či Wi-Fi klientskou stanici).</li>
                    <li>Poskytovatel Bezdrátové Wi-Fi sítě upozorňuje Uživatele, že Bezdrátová Wi-Fi síť není z
                      technického
                      hlediska zabezpečena. Z této skutečnosti pramení riziko možnosti odposlechu komunikace Uživatele
                      třetí
                      osobou v případě, že obsah komunikace odesílané Uživatelem ze Zařízení do sítě internetu
                      prostřednictvím
                      Bezdrátové Wi-Fi sítě nebude zabezpečen. </li>
                    <li>Poskytovatel přiděluje automatické adresy z neveřejného rozsahu IP adres dle RFC 1918. Aby mohl
                      Uživatel
                      Bezplatnou Wi-Fi síť využívat, musí mít nastaveno na příslušném rozhraní bezdrátové sítě
                      automatické
                      přidělování IP adres (protokol DHCP). </li>
                    <li>Po připojení Zařízení k Bezdrátové Wi-Fi síti je Uživateli zobrazena přihlašovací stránka s
                      informacemi
                      pro Uživatele.</li>
                    <li>Pro využívání Služby je ze strany Uživatele vyžadováno přijetí těchto Podmínek. Po uplynutí 14
                      dní
                      od
                      posledního přijetí Podmínek podle první věty bude pro další využívaní Služby vyžadováno opětovné
                      přijetí
                      těchto Podmínek. </li>
                    <li>Uživatel je povinen respektovat jakékoliv změny v podmínkách připojení k Bezdrátové Wi-Fi síti a
                      jakoukoli změnu těchto Podmínek vykonanou Poskytovatelem. </li>
                    <li>Přenosová rychlost je omezena na 5 Mbps na Uživatele. </li>
                  </ol>
                </li>

                <li>Práva a povinnosti Uživatele
                  <ol>
                    <li>Uživatel nese plnou odpovědnost za činnosti, které vykonává prostřednictvím Služby.</li>
                    <li>Uživatel je povinen užívat Službu v souladu s těmito Podmínkami. </li>
                    <li>Uživatel nesmí při užívání Služby vykonávat jakoukoli činnost, která by mohla ohrozit či nerušit
                      funkčnost nebo bezpečnost Služby a softwaru Poskytovatele nebo ostatních Uživatelů. </li>
                    <li>Uživatel v souladu s čl. 5.3 nesmí zejména: </li>
                    <ul>
                      <li>přetěžovat Bezdrátovou Wi-Fi síť;</li>
                      <li>užívat Bezdrátovou Wi-Fi síť k jakýmkoli komerčním účelům, pro reklamní účely, šíření
                        obchodních
                        informací či pro náboženskou, politickou nebo společenskou agitaci; </li>
                      <li>šířit jakékoli druhy počítačových virů či programů schopných modifikace nebo replikace;</li>
                      <li>rozesílat nevyžádané zprávy či IP pakety s falešnou adresou odesílatele;</li>
                      <li>šířit poplašné zprávy či nepravdivé informace.</li>
                    </ul>
                    <li>Uživatel dále v průběhu užívání Služby nesmí porušovat platné právní předpisy, zejména zákon č.
                      121/2000
                      Sb. o právu autorském, o právech souvisejících s právem autorským a o změně některých zákonů
                      (autorský
                      zákon), zákon č. 40/2009 Sb., trestní zákoník, ve znění pozdějších předpisů, nebo dobré mravy.
                    </li>
                    <li>Uživatel nesmí měnit nastavení jakýchkoli parametrů aktivních prvků Bezdrátové Wi-Fi sítě. </li>
                    <li>Uživatel je povinen Poskytovateli neprodleně ohlásit případné získání uživatelských práv nebo
                      jakéhokoli
                      privilegovaného stavu, který mu nepřísluší.</li>
                    <li>Odpovědnost za případné škody na technickém vybavení nebo datech Uživatele nese sám Uživatel.
                    </li>
                    <li>Uživatel je povinen dbát o zabezpečení informací, které jsou z jeho strany do Bezdrátové Wi-Fi
                      sítě
                      poskytované či v Bezdrátové Wi-Fi síti přenášené. </li>
                  </ol>
                </li>

                <li>Práva a povinnosti Poskytovatele
                  <ol>
                    <li>Poskytovatel zajišťuje provádění technické údržby přístupu ke Službě. </li>
                    <li>Poskytovatel je oprávněn podle vlastního uvážení přerušit, zablokovat nebo jinak omezit užívaní
                      Služby
                      některými Uživateli, a to i bez předchozího upozornění, zejména v případech porušování ustanovení
                      těchto
                      Podmínek.</li>
                    <li>V případě podezření ze závažného porušování ustanovení těchto Podmínek mohou být ze strany
                      Poskytovatele
                      vůči Uživateli využity odpovídající právní instituty. </li>
                    <li>Poskytovatel je oprávněn kdykoli, bez udání důvodu a bez náhrady, ukončit poskytování Služby.
                    </li>
                    <li>Poskytovatel není povinen poskytovat servis ani žádné další služby na programovém nebo
                      technickém
                      vybavení Zařízení Uživatele.</li>
                    <li>Poskytovatel je oprávněn veškeré informace a údaje týkající se Uživatele, včetně údajů osobních,
                      provozních a lokalizačních, užívat pouze v souladu s platnými právními předpisy České republiky.
                    </li>
                  </ol>
                </li>

                <li>Vyloučení odpovědností Poskytovatele
                  <ol>
                    <li>Poskytovatel nenese odpovědnost za jakoukoli újmu či případnou škodu vzniklou v souvislosti s
                      užíváním
                      Služby. Poskytovatel zejména nenese odpovědnost za případnou ztrátu dat, poškození či zničení
                      softwaru
                      či hardwaru Uživatele ani za případný útok na Zařízení vedený jiným Uživatelem. </li>
                    <li>Poskytovatel nenese odpovědnost za obsah informací přenášených prostřednictvím Bezdrátové Wi-Fi
                      sítě, za
                      rozesílaní nevyžádaných zpráv některým z Uživatelů třetím osobám, ani za jiné šíření informací,
                      nakládání s osobními údaji nebo další aktivity Uživatelů v rozporu s platnými právními předpisy či
                      dobrými mravy.</li>
                    <li>Poskytovatel nenese odpovědnost za jakoukoli případnou újmu či škodu vzniklou v důsledku výpadků
                      či
                      omezení funkčnosti nebo výkonnosti Bezdrátové Wi-Fi sítě, přerušení nebo zastavení přenosu dat či
                      jiných
                      poruch připojení k internetu prostřednictvím Bezdrátové Wi-Fi sítě, ani v důsledku omezené
                      výkonnosti
                      jednotlivých částí Bezdrátové Wi-Fi sítě či nedostatečné rychlosti nebo kvality přenosu dat jejím
                      prostřednictvím. Poskytovatel negarantuje jakoukoliv dostupnost, stabilitu, přenosovou rychlost
                      ani
                      jiné
                      vlastnosti Bezdrátové Wi-Fi sítě a Služby.</li>
                  </ol>
                </li>

                <li>Komunikace Poskytovatele s Uživateli
                  <ol>
                    <li>Případná nezbytná upozornění jsou ze strany Poskytovatele komunikovaná Uživatelům
                      prostřednictvím
                      oznámení. Za oznámení se přitom považuje zpráva, která bude zveřejněná na webových stránkách
                      Poskytovatele praha10.cz, případně na úvodní stránce pro přihlášení do Bezdrátové Wi-Fi sítě.
                    </li>
                    <li>Bezprostřední problémy s využíváním Služby, vyplývající z připojení k Síti, může Uživatel
                      oznámit
                      Poskytovateli prostřednictvím kontaktní e-mailové adresy IT oddělení Poskytovatele:
                      informatika@praha10.cz</li>
                    <li>Uživatel je před oznámením poruchy povinen sám ověřit, zda porucha nespočívá v jeho Zařízení.
                    </li>
                  </ol>
                </li>

                <li>Závěrečná ustanovení
                  <ol>
                    <li>Poskytovatel si vyhrazuje právo kdykoliv jednostranně upravit znění těchto Podmínek, a to i bez
                      zaslání
                      informací o provedené úpravě Uživatelům. </li>
                    <li>Ztratí-li některé ustanovení těchto Podmínek platnost a/nebo účinnost, nemá to vliv na platnost
                      a/nebo
                      účinnost zbývajících ustanovení těchto Podmínek. </li>
                    <li>Tyto Podmínky a jakékoli jejich pozdější změny nabývají platnosti a účinnosti dnem jejich
                      zveřejnění
                      prostřednictvím internetových stránek Poskytovatele / 18. 6. 2024</li>
                    <li>V záležitostech, které nejsou těmito Podmínkami výslovně upraveny, se řídí práva a povinnosti
                      související s poskytováním a užíváním Služby platnými obecně závaznými právními předpisy České
                      republiky. </li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
            <a type="button" class="btn btn-primary" href="/tos-download">Stáhnout podmínky</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}