{% extends "layout.html" %}
{% block body %}
<h1>CAPTIVE PORTAL</h1>

<div>
  <form method="POST" action="{{ data['post'] if data['post'] != None else '' }}" id="form">
    <input type="hidden" name="magic" value="{{ data['magic'] if data['magic'] != None else ''}}">
    <input type="hidden" name="username" value="" id="fortiUsername">
    <input type="hidden" name="password" value="" id="fortiPassword">
    
    <div class="mb-3">
      <label for="emailAddress" class="form-label">Emailová adresa</label>
      <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" required name="email"
        value="{{ data['email'] if data['email'] != None else '' }}">
      <div id="emailHelp" class="form-text">Emailová adresa bude sloužit pro identifikaci připojeného uživatele</div>
    </div>

    <div class="mb-3 form-check">
      {% if data['marketing'] %}
      <input type="checkbox" class="form-check-input" id="marketing-accept" name="marketing" checked>
      {% else %}
      <input type="checkbox" class="form-check-input" id="marketing-accept" name="marketing">
      {% endif %}
      <label class="form-check-label" for="marketing-accept">Souhlasím s použitím emailové adresy pro marketingové a
        informativní účely Městské části Praha 10</label>
    </div>

    <div class="d-flex w-100 justify-content-center align-items-center">
      <button type="button" class="btn btn-primary mb-4 p-3 px-4" id="submit-button" onclick="callApi()">Připojit se</button>
    </div>

    <div class="mb-3 text-muted text-center">
      <p>Kliknutím na tlačítko <span class="text-primary">Připojit se</span> souhlasíte s <a class="link-primary"
          data-bs-toggle="modal" data-bs-target="#tos-modal">podmínkami použítí</a> Wi-Fi
        sítě.</p>
    </div>
  </form>
</div>

<script src="{{ url_for('static', filename='styles/js/call-api.js') }}"></script>

{% include "components/modal.html" %}

{% endblock %}