<!DOCTYPE html>
<html lang="cs" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captive portal - Praha 10</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/lists.css') }}">
</head>

<body>
    <div class="container-md d-flex flex-column align-items-center justify-content-center p-1">
        <div>
            <img src="{{ url_for('static', filename='images/logo-black.png')}}" alt="" width="250px">
        </div>
        {% block body %}
    
        {% endblock %}
    </div>

    <script src="{{url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>