ol {
    counter-reset: custom-counter;
}

ol>li {
    display: block;
}

ol>li::before {
    counter-increment: custom-counter;
    content: counters(custom-counter, ".") " ";
    padding-right: 5px;
}

ol {
    padding: 0.5rem;
}

ul>li {
    list-style: disc;
}

ol.all-bold {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ol.all-bold li ol {
    font-weight: normal;
}