name: Application deploy

on:
  pull_request:
    types: [opened]

jobs:
  deploy:
    name: Deploy
    runs-on: ["prod", "p10"]
    steps:
    - name: Checkout
      uses: actions/checkout@v4    
    - name: Test
      run: echo test
